@use 'src/styles/variables' as *;
@use 'src/styles/functions' as *;
@use 'src/styles/mixins' as *;

$min-height: 40px;
$font-size: 0.8rem;

.time-log {
  cursor: pointer;
  min-height: $min-height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;

  color: get-map-field($colors, [light, 0]);
  background-color: get-map-field($colors, [dark, 300]);

  transition: 0.2s;

  &:hover {
    background-color: get-map-field($colors, [dark, 400]);
  }

  &__time-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__time-range {
    margin-right: 10px;
  }

  &__time {
    font-size: $font-size;
    padding: 0px 2px;
  }

  &__time-diff {
    width: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
  }

  &__description-wrapper {
    margin-right: 20px;
    width: 100%;
    height: inherit;
    @include overflow-ellipsis;
  }

  &__description-input {
    display: block;
    min-width: 100%;
  }

  &__description {
    @include overflow-ellipsis;
    font-size: $font-size;
    white-space: nowrap;
    width: 100%;
    content: '';
    min-height: $min-height;
    display: flex;
    align-items: center;
  }
}
